#info{
  margin-block:20px;
  font-size: 20px;
}

#info2{
  font-size: 40px;
}

div{
  font-size: 50px;
  text-align: center;
}

 .card {
  box-shadow: 2px 2px 10px black;
  margin: 20px;
  width: 70%;
  height: 290px;
 }

#card1{
  grid-area: card1;
}

#card2{
  grid-area: card2;
}

#card3{
  grid-area: card3;
}

#card4{
  grid-area: card4;
}

#score{
  grid-area: score;
}

#parent{
  display: grid;
  grid-template-areas: 'card1 card2 score card3 card4';
  font-family:'Segoe UI';
}